In [1]:
import pandas as pd

In [13]:
#read the file
gdp=pd.read_csv("gdp_over_hours_worked.csv")
gdp.head()

,iso2c,year,country,iso3c,pop,labor_force,gdp_ppp_c,gdp_ppp,gdp,gdp_c,...,employed,total_hours_alternative,gdp_over_k_hours_worked,gdp_ppp_over_k_hours_worked,gdp_over_pop,gdp_ppp_over_pop,gdp_ppp_over_labor_force,gdp_ppp_over_pop_c,gdp_over_pop_c,gdp_ppp_over_k_hours_worked_c
0,1A,1980,Arab World,ARB,167707208.0,NaN,NaN,NaN,4.598046e+11,8.594801e+11,...,NaN,NaN,NaN,NaN,2741.710413,NaN,NaN,NaN,5124.884863,NaN
1,1A,1981,Arab World,ARB,173118753.0,NaN,NaN,NaN,4.748121e+11,8.884793e+11,...,NaN,NaN,NaN,NaN,2742.696180,NaN,NaN,NaN,5132.195612,NaN
2,1A,1982,Arab World,ARB,178587926.0,NaN,NaN,NaN,4.445759e+11,8.148883e+11,...,NaN,NaN,NaN,NaN,2489.394893,NaN,NaN,NaN,4562.952771,NaN
3,1A,1983,Arab World,ARB,184342569.0,NaN,NaN,NaN,4.184621e+11,7.643004e+11,...,NaN,NaN,NaN,NaN,2270.024076,NaN,NaN,NaN,4146.087134,NaN
4,1A,1984,Arab World,ARB,190162096.0,NaN,NaN,NaN,4.258994e+11,7.744464e+11,...,NaN,NaN,NaN,NaN,2239.665131,NaN,NaN,NaN,4072.559255,NaN

In [14]:
gdp.columns

Index(['iso2c', 'year', 'country', 'iso3c', 'pop', 'labor_force', 'gdp_ppp_c',
       'gdp_ppp', 'gdp', 'gdp_c', 'unemployment_r', 'pop_over_65',
       'working_age_pop_pct', 'employment_rate', 'hours_worked', 'total_hours',
       'hours_per_employed', 'employed', 'total_hours_alternative',
       'gdp_over_k_hours_worked', 'gdp_ppp_over_k_hours_worked',
       'gdp_over_pop', 'gdp_ppp_over_pop', 'gdp_ppp_over_labor_force',
       'gdp_ppp_over_pop_c', 'gdp_over_pop_c',
       'gdp_ppp_over_k_hours_worked_c'],
      dtype='object')

In [16]:
#Pick the colums
gdp_columns_picked=gdp[["year", "country","pop","labor_force","unemployment_r", "pop_over_65", "employment_rate" ]]
gdp_columns_picked.head()

,year,country,pop,labor_force,unemployment_r,pop_over_65,employment_rate
0,1980,Arab World,167707208.0,NaN,NaN,3.383674,NaN
1,1981,Arab World,173118753.0,NaN,NaN,3.357888,NaN
2,1982,Arab World,178587926.0,NaN,NaN,3.332335,NaN
3,1983,Arab World,184342569.0,NaN,NaN,3.310055,NaN
4,1984,Arab World,190162096.0,NaN,NaN,3.296280,NaN

In [31]:
#filter for US and years after 1990
US_gdp_columns_fil=gdp_columns_picked[(gdp_columns_picked['country']=='United States') & (gdp_columns_picked['year']>=1992)]
US_gdp_columns_fil.head()

,year,country,pop,labor_force,unemployment_r,pop_over_65,employment_rate
9472,1992,United States,256514000.0,130387356.0,7.50,12.396846,70.80585
9473,1993,United States,259919000.0,131792391.0,6.90,12.427348,71.20782
9474,1994,United States,263126000.0,134076659.0,6.12,12.483979,72.00175
9475,1995,United States,266278000.0,135975697.0,5.65,12.543634,72.53490
9476,1996,United States,269394000.0,138055157.0,5.45,12.550368,72.85875

In [32]:
#Rename the columns
US_gdp_columns_fil.rename(columns={'labor_force' : 'Labor Force', 
                                   'pop' : 'Population', 
                                   'pop_over_65' : 'Population over 65',  
                                   'employment_rate' : 'Employment Rate', 
                                   'unemployment_r' : 'Unmployment Rate'}, inplace=True)
US_gdp_columns_fil.head()

C:\Users\sulta\AppData\Local\Temp\ipykernel_12192\2595172940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_gdp_columns_fil.rename(columns={'labor_force' : 'Labor Force',

,year,country,Population,Labor Force,Unmployment Rate,Population over 65,Employment Rate
9472,1992,United States,256514000.0,130387356.0,7.50,12.396846,70.80585
9473,1993,United States,259919000.0,131792391.0,6.90,12.427348,71.20782
9474,1994,United States,263126000.0,134076659.0,6.12,12.483979,72.00175
9475,1995,United States,266278000.0,135975697.0,5.65,12.543634,72.53490
9476,1996,United States,269394000.0,138055157.0,5.45,12.550368,72.85875

In [ ]:
#format the columns